<!DOCTYPE html>
<html>
<head>
    <title>Error</title>
</head>
<body>
    <h1>Error</h1>
    <p><%= message %></p>
    <% if (error && error.stack) { %>
      <pre><%= error.stack %></pre>
    <% } else { %>
      <pre>No stack trace available</pre>
    <% } %>
</body>
</html>
